ion-content{
    --background: #7898ff;
  }
  
  .principal-container{
    display: flex;
    height: 100vh;
    /*background-image: url('https://image.freepik.com/vector-gratis/diseno-fluido-fondo-abstracto_23-2148569527.jpg');*/
    //background: black;
    background-position: 50% 50%;
    background-size: cover;
    
  }
  .left-container{
    //    background: cadetblue;
    width: 50%;
  }
  .right-container{
    
    border-left: 2px solid gray;
    position: relative;
  
    height: 100%;
    width: 50%;
    //background-image:url( 'https://cdn.statically.io/img/lh4.googleusercontent.com/proxy/-_jkhfOQOVuhPzaIn4CoubndOuV3es80DYIgjPr3I8RLCsBTpOzrnOLrvi7hj2Y2JGz-H8jLmGkdocVrnKwgz8pP5_mEPN7KyXbJJh4uYV57ugQqbwBU90MmetaW8XT0KvvvbUQAIkJino8m388lj3YYG5Ci8df31IzQeE8y_Y5Lwg=s0-d');
    //background: #4f72e7;
  }
  /* bar */

  .bar-button-container{
    width: 20%;
    margin-left: 80%;
  }

  /* login */
  
  .login-form-container{
  // background: black;
    width: 50%;
    margin-top: calc(50%/2);
    margin-left: calc(50%/2);
    animation: left-in .5s ease-in;
  }
  
  .inputs-container{
    width: 90%;
    margin-left: 5%;
  }
  
  /* Mail Input container */
  
  .input-container{
    padding-top: 2%;
    padding-bottom: 1%;
    margin-top: 3%;
    border-radius: 6px;
   // background: white;
  }
  
  .input-form{
    width: 90%;
    margin-left: 5%;
    border: none;
  }
  
  .input-form:active{
    border: 0;
  }
  
  .input-form:focus{
    outline: none;
  }

  .link-registro-container{
    animation: left-in .5s ease-in;
  }

  .link-registro{
    color: white;
    cursor: pointer;
    font-size: 17px;
    font-weight: 700;
    width: 80%;
    margin-top: 5%;
    margin-left: 15%;
  }
  
  /* login */

  .login-options{
    display: flex;
    height: 50px;
    margin-top: 2%;
    
    
  } 

  .remember-container{ 
    display: flex;
    width: 50%;
    //background: orange;
  }

  .forgot-container{
    //background: yellow;
    width: 50%;
  } 

  .checkbox-container{
    margin-top: 17px;
    width: 20px;
    //background: burlywood;
  }
  .text-container{
    //background: rgba(150, 71, 71, 0.836);
  }

  .text-options{
    font-size: 16px; 
    text-align: center;
  }

  .text-options.forgot{
    text-align: right;
  }


  .login-button-container{
    margin-top: 10%;
   
  }
  
  .login-button{
    font-family: "Roboto", sans-serif;
    /* text-transform: uppercase; */
    outline: 0;
    width: 100%;
    margin-left: 0%;
    border: 0;
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: #4f72e7;
    color: white;
    font-size: 17px;
    font-weight: 700;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
    border-radius: 3px;
  }
  

  .logo-container{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }

  .logo-background{
    top: -50px;
    filter: blur(3px);
    position: absolute;
  }
  .logo{
    left: 200px;
    top: -300px;
    position: absolute;
    width: 100%;
    margin-top: calc((100% - 350px)/2);
    margin-left: calc((100% - 800px)/2);
  }
  
  
  @keyframes left-in{
    0%{
      transform: translateX(-200%);
    }
    50%{
      transform: translateX(30%);
    }
    70%{
      transform: translateX(20%);
    }
    80%{
      transform: translateX(10%);
    }
    90%{
      transform: translateX(5%);
    }
    100%{
      transform: translateX(0%);
    }
  
  }
  
  /* animacion */
  
  /*
  .animation-layer{
    height: 100vh;
    width: 10%;
    position: fixed;
    background: red;
  }
  */

  /* colaborator */

  .colaborator-container{
    position: fixed;
    z-index: 99;
    top: 90%;
    display: flex;
    margin-left: 2%;
  }

  .info-colaborator{
    font-size: 20px;
    color: white;
    font-weight: 400;
  }

  .link-colaborator{
    color: white;
  }

  .colaborator-picture-container{
    margin-top: 5.5px;    
    margin-left: 25px;
    width: 50px;
    height: 50px;
  }

  .colaborator-picture{
    width: 50px;
    height: 50px;
    border-radius: 200px;
  }

  .celular{
    display: none;
  }

  @media (max-width: 900px){
    .celular{
      display: block;
    }

    .escritorio{
      display: none;
    }

    .login-form-container{
      width: 80%;
      margin-top: 35%;
      margin-left: 10%;
      animation: left-in .5s ease-in;
    }

    .colaborator-container{
      width: 90%;
      margin-left: 5%;
      position: fixed;
      z-index: 99;
      top: 90%;
      display: flex;
      margin-left: 2%;
    }

    .colaborator-picture{
      width: 50px;
      height: 50px;
      border-radius: 0px;
    }
  }