/* Barra */

ion-toolbar{
  --background: #7898ff !important;
  color: white;
  text-align: center;
}

ion-title{
  --color: white;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-size: 24px;
}

.ion-button{
  --background: #7e7cc1;
  --background-activated: #7e7cc1;
  --background-focused: #7e7cc1;
  --background-hover: #7e7cc1;
  width: 70% !important;
  margin-left: 15% !important;
  margin-top: 5%;
  margin-bottom: 2%;
}
