/* Barra */

ion-toolbar{
  --background: #333333 !important;
  color: white;
  text-align: center;
}

ion-title{
  --color: white;
  font-family: 'Roboto', sans-serif;
  text-align: left;
  font-size: 17px;
  margin-left: 10px;
}

.ion-button{
  --background: #333333;
  --background-activated: #333333;
  --background-focused: #333333;
  --background-hover: #333333;
  width: 70% !important;
  margin-left: 15% !important;
  margin-top: 5%;
  margin-bottom: 2%;
}
