/* Barra */

ion-content{
  --background: #EBEBEF;
}

ion-toolbar{
  --background: white !important;
  color: #0e1538;
  text-align: center;
}

/* options */

.option-container{
  width: 90%;
  margin-left: 5%;
  margin-top: 1.5%;
  padding-top: 1%;
  padding-bottom: 1%;
  background: white;
  border-radius: 10px;
}

.filter-options-container{
  display: flex;
}

.search-container{
  width: 50%;
}

.toggle-container{
  width: 30%;
  margin-top: 0%;
}

.badge-option{
  margin-left: 5px;
  margin-top: 5px;
  background: #007edd;
}

.options-container{
  width: 10%;
  margin-left: 10%;
}


/* */

.item-option{
  width: 45%;
  margin-left: 2.5%;
  --background: transparent;
}

/* filter */

.img-filter{
  --border-radius: 0px;
}

.search-icon{
  margin-top: 8px;
  width: 25px;
  height: 25px;
}

.item-filter{
  width: 95%;
  margin-left: 2.5%;
  border-radius: 15px;
  --background: #f4f4f4;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: #0e1538;
}

/* option container */

.sub-options-container{
  width: 100%;
  display: flex;
}

.buttons-option-container{
  display: flex;
  width: 49%;
  margin-left: 1%;
  margin-top: 1.5%;
}

.new-element-container{
  cursor: pointer;
  transition: .5s;
}

.new-element-container:hover{
  transition: .5s;
  transform: scale(1.1);
}

.download-excel-container{
  cursor: pointer;
  transition: .5s;
}

.download-excel-container:hover{
  transition: .5s;
  transform: scale(1.1);
}

.item-avatar{
  margin-right: 10px;
  --border-radius: 0px;
}

.select-register-container{
  margin-top: 1.5%;
  width: 50%;
}

.select-container{

}

/* */

/* botón excel */

.download-buttons-container{
  width: 10%;
  margin-top: 2.5%;
}

.circle-buttons-container{
  width: 100%;
}

.circle-button{
  margin-left: 10px;
  width: 50px;
  height: 50px;
  background: white;
  border-radius: 200px;
  cursor: pointer;
  transition: .5s;
}

.circle-button:hover{
  transition: .5s;
  transform: scale(1.2);
}

.circle-image{
  margin-top: 10px;
  margin-left: 10px;
  width: 30px;
  height: 30px;
}


/* cards */

.list-item-container{
  width: 100%;
  margin-left: 0%;
}

.title-list{
  font-size: 16px;
  color: #333333;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  margin-left: 5%;
  margin-top: 1.5%;
}

.list-item{
  width: 90%;
  margin-top: 0.8%;
  margin-left: 5%;
  min-height: 120px;
  background-color: #fafafa;
  display: flex;
  border-radius: 5px;
  border: solid 1px #f4f4f4;
  cursor: pointer;
  transition: ease-out .5s;
  transform-style: preserve-3d;
  transition: .5s;
  vertical-align: center;
}

.icon-item-container{
  width: 10%;
}

.icon-item{
  width: 50px;
  margin-left: 5px; 
}

.icon{
  margin-top: 30px;
  margin-left: 10px;
  width: 50px;
  height: 50px;
}

/* */

.title-item-container{
  width: 20%;
}

.title-container{
  margin-top: 20px;
}

.title-item{
  margin: 0%;
  padding: 0%;
  font-size: 16px;
  color: #333333;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  margin-left: 5px;
}

.tag-container{
  height: 50px;
  margin-top: 5px;
}

/* */

.info-item-container{
  width: 15%;
}

.info-description-container{
  margin-top: 20px;
}

.info-description{
  margin: 0%;
  padding: 0%;
  font-family: Poppins,sans-serif;
  font-weight: 600;
  font-size: 13px;
  color: #333333;
}

/* */

.seconday-info-item-container{
  width: 20%;
}

.secondary-info-description-container{
  margin-top: 20px;
}

.secondary-info-description{
  font-family: Poppins,sans-serif;
  font-weight: 600;
  font-size: 13px;
  color: #333333;
}

/* */

.date-item-container{
  width: 20%;
  margin-left: 5%;
}

.date-item{
  margin-top: 20px;
}

.date-info{
  margin: 0%;
  padding: 0%;
  font-family: Poppins,sans-serif;
  font-weight: 600;
  font-size: 13px;
  color: #333333;
}

/* */

.action-item-container{
  width: 30px;
}

.button-container{
  margin-top: 30px;
}

/* paginador */

.paginator-container{
  padding-top: 10%;
  width: 100%;

}

.paginator-sides-container{
  width: 60%;
  margin-left: 20%;
  height: 100px;
  display: flex;
}


/* Parte Izquierda (El botón que dice anterior) */

.left-part{
  width:20%;
}

.text-paginator-previous{
  text-align: right;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  padding-top: 8px;
  padding-bottom:8px;
  margin: 0 auto;
  font-weight: 500;
  cursor: pointer;
}

/* Los numeros de la Páginación */

.center-part{
  margin-left: 10%;
  margin-right: 10%;
  width: 60%;
  text-align: center;
  //margin-right: 5%;
}

.square-container{
  padding: 0;
  margin-left: 5px;
  margin-top: 0px;
  min-width: 34px;
  min-height: 34px;
  display: inline-flex;
  cursor: pointer;
}

.link{
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.square{
  min-width: 34px;
  min-height: 34px;
  border-radius: 5px;
  background: transparent;
  border: solid 1px transparent;
  color: #333;
  cursor: pointer;
}

.square:hover{
  background: #e9ecef;       
  border: solid 1px #e9ecef;
  cursor: pointer;
}

.square-selected{
  min-width: 34px;
  min-height: 34px;
  border-radius: 5px;
  background-color: #333333;
  color: white;
  border: solid 1px #333333;
  cursor: pointer;
}

.square-number{
  padding-top: 8px;
  padding-left: 5px;
  padding-right: 5px;
  margin: 0%;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  cursor: pointer;      
}

/* */

.result-container{
  width: 100%;
  margin-top: 10%;
}

.result-image-container{
  width: 120px;
  margin-left: calc((100% - 120px)/2);
}

.result-text{
  font-size: 18px;
  color: #333333;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  text-align: center;
}

/* Parte Derecha (El botón que dice siguiente) */

.right-part{
  width: 20%;
  cursor: pointer;
}

.text-paginator-last{        
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  padding-top: 8px;
  font-weight: 500;
  text-align: left;
}

.blank-space{
  min-height: 100px;
}

.grayscale { filter: grayscale(80%) !important; }

/* fab button*/

.fab-button{
  --background: #333333;
  --background-hover: #333333;
  --background-focused: #333333;
  --background-activated: #333333;
}

.cellphone{
  display: none;
}

@media (max-width: 600px){

  .cellphone{
    display: block;
  }

  .desktop{
    display: none;
  }
  /* options */

  .option-container{
    width: 95%;
    margin-left: 2.5%;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    margin-top: 5%;
    background: white;
    border-radius: 10px;
  }

  .filter-options-container{
    display: flex;
  }

  .search-container{
    width: 80%;
    margin-left: 2.5%;
  }

  .item-filter{
    width: 95%;
    margin-left: 2.5%;
    border-radius: 15px;
    --background: #f4f4f4;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: #0e1538;
  }

  .config-container{

  }

  .toggle-container{
    width: 90%;
    margin-top: 0%;
  }

  /* cards */

  .list-item-container{
    width: 100%;
    margin-top: 10%;
    margin-left: 0%;
  }

  .list-item{
    width: 95%;
    margin-top: 2.5%;
    margin-left: 2.5%;
    min-height: 120px;
    background-color: #fafafa;
    display: flex;
    border-radius: 5px;
    border: solid 1px #f4f4f4;
    cursor: pointer;
    transition: ease-out .5s;
    transform-style: preserve-3d;
    transition: .5s;
    vertical-align: center;
  }

  .title-list{
    font-size: 20px;
    color: #333333;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    margin-left: 5%;
    margin-top: 1.5%;
  }

  .icon-item-container{
    width: 20%;
  }
  
  .icon-item{
    width: 90%;
    margin-left: 10%; 
  }
  
  .icon{
    margin-top: 30px;
    margin-left: 0px;
    width: 50px;
    height: 50px;
  }
  
  /* */
  
  .title-item-container{
    width: 60%;
    margin-left:5%;
  }
  
  .title-container{
    margin-top: 20px;
  }
  
  .title-item{
    margin: 0%;
    padding: 0%;
    font-size: 20px;
    color: #333333;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    text-align: left;
  }

  .tag-container{
    height: 50px;
    margin-top: 5px;
    margin-left: 10px;
  }

  /* */

  .info-item-container{
    width: 80%;
  }

  .info-description-container{
    margin-top: 20px;
  }

  .info-description{
    margin: 0%;
    padding: 0%;
    font-family: Poppins,sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #333333;
  }

  /* */

  .seconday-info-item-container{
    width: 80%;
  }

  .secondary-info-description-container{
    margin-top: 20px;
  }

  .secondary-info-description{
    font-family: Poppins,sans-serif;
    font-weight: 600;
    font-size: 13px;
    color: #aaaaaa;
  }

  /* */

  .date-item-container{
    width: 80%;
    margin-left: 5%;
  }

  .date-item{
    margin-top: 20px;
  }

  .date-info{
    margin: 0%;
    padding: 0%;
    font-family: Poppins,sans-serif;
    font-weight: 600;
    font-size: 13px;
    color: #333333;
  }

  /* */

  .action-item-container{
    width: 10%;
  }
  
  .button-container{
    margin-top: 5px;
  }
  
  /* paginador */
  .links-phone{
    margin-top: 10%;
    display:flex;
}

.paginator-container{
    width: 100%;
    display:block;
}

.paginator-sides-container{
  width: 100%;
  display:block;
  margin-left: 0%;
}

.center-part{
    width: 100%;
    margin-right: 0% !important;
    margin-left: 0%;
    margin: 0 auto;
}

.left-part{
    width: 90%;
    margin-right: 0%;
    margin-left: 10%;
}

.text-paginator-previous{
    text-align: left;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    padding-top: 8px;
    padding-bottom:8px;
    margin: 0 auto;
    font-weight: 500;
    width: 100%;
}        

.right-part{
    width: 90%;
    margin-right: 10%;
    margin-left: 0%;
}

.text-paginator-last{
    text-align: right;        
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    padding-top: 8px;
    padding-bottom:8px;
    margin: 0 auto;
    font-weight: 500;
    width: 100%;
    cursor: pointer;
}
  
}