<ion-header>
  <ion-toolbar>
    <ion-title>
      Cliente
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content mode="md">
  <div class="option-container">
    <ion-item class="item-filter" lines="none">
      <ion-avatar class="img-filter" slot="start">
        <img class="search-icon" src="./assets/img/lupe.svg">
      </ion-avatar>
      <ion-input placeholder="Buscar Clientes" (keyup)="filter($event)" [(ngModel)]="searchQuery"></ion-input>
    </ion-item>
    <div class="download-buttons-container">
      <div class="circle-buttons-container">
        <div class="circle-button">
          <img class="circle-image" src="./assets/img/excel.svg">
        </div>
      </div>
    </div>
  </div>

  <ion-item class="item-option" lines="none">
    <ion-segment value="activated" mode="md" slot="start" style="color: #0e1538;">
      <ion-segment-button value="activated" style="color: #0e1538; text-align: left;" (click)="changeStatus(false)">
        <ion-label style="color: #0e1538;">Activos</ion-label>
      </ion-segment-button>
      <ion-segment-button value="desactivated" style="color: #0e1538; text-align: left;" (click)="changeStatus(true)">
        <ion-label>Desactivados</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-item>

  <div class="cards-container" *ngIf="!seeAll">
    <div class="card desktop" (click)="addCliente(1)">
      <div class="card-content-container">
        <div class="card-add-image-container">
          <img class="card-image" src="./assets/img/add.svg">
        </div>
        <div class="card-header-container">
          <div class="card-add-title-container">
            <p class="card-add-title">Agregar un nuevo Cliente</p>
          </div>
        </div>
      </div>
    </div>

    <div class="card" *ngFor="let c of filterClientes()" (click)="options(c)" >
      <div class="card-content-container" *ngIf="!variable">
        <div class="card-header-container">
          <div class="card-title-container">
            <!--<p class="card-title">Increase confidence with TruePilot reviews</p>-->
            <p class="card-title" *ngIf="maxSizeString(c.test,titleMaxValue).length < titleMaxValue">{{c.test}}</p>
            <p class="card-title" *ngIf="maxSizeString(c.test,titleMaxValue).length >= titleMaxValue">{{maxSizeString(c.test,titleMaxValue)}}...</p>
          </div>
        <!--
          <div class="card-image-container">
            <img class="card-image">
          </div>
        -->
        </div>
        <div class="card-tag-container">
          <ion-chip outline color="primary">
            <ion-label>Primary</ion-label>
          </ion-chip>
        </div>
        <div class="card-description-container">
          <p class="card-description">Some kind of short description can go here to better explain the recommended task</p>
        </div>
        <div class="card-footer-container">
          <ion-item class="item-card" lines="none">
            <ion-buttons>
              <ion-button slot="start">
                <ion-icon class="icon-card-footer" slot="icon-only" name="calendar-clear-outline"></ion-icon>
              </ion-button>
            </ion-buttons>
            <ion-label class="card-footer-text">21 del 21</ion-label>
            <ion-avatar slot="end">
              <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fukmadcat.com%2Fwp-content%2Fuploads%2F2019%2F04%2Fsleepy-cat.jpg&f=1&nofb=1">
            </ion-avatar>
          </ion-item>
        </div>
      </div>
    <!--
      <div class="card-content-container-back">
        <h1>wena conchetu</h1>
      </div>
    -->
    </div>
  </div>

  <div class="cards-container" *ngIf="seeAll">
    <div class="card grayscale" *ngFor="let c of filterDesactivated()" (click)="options(c)">
      <div class="card-content-container" *ngIf="!variable">
        <div class="card-header-container">
          <div class="card-title-container">
            <!--<p class="card-title">Increase confidence with TruePilot reviews</p>-->
            <p class="card-title" *ngIf="maxSizeString(c.test,titleMaxValue).length < titleMaxValue">{{c.test}}</p>
            <p class="card-title" *ngIf="maxSizeString(c.test,titleMaxValue).length >= titleMaxValue">{{maxSizeString(c.test,titleMaxValue)}}...</p>
          </div>
        <!--
          <div class="card-image-container">
            <img class="card-image">
          </div>
        -->
        </div>
        <div class="card-tag-container">
          <ion-chip outline color="primary">
            <ion-label>Primary</ion-label>
          </ion-chip>
        </div>
        <div class="card-description-container">
          <p class="card-description">Some kind of short description can go here to better explain the recommended task</p>
        </div>
        <div class="card-footer-container">
          <ion-item class="item-card" lines="none">
            <ion-buttons>
              <ion-button slot="start">
                <ion-icon class="icon-card-footer" slot="icon-only" name="calendar-clear-outline"></ion-icon>
              </ion-button>
            </ion-buttons>
            <ion-label class="card-footer-text">21 del 21</ion-label>
            <ion-avatar slot="end">
              <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fukmadcat.com%2Fwp-content%2Fuploads%2F2019%2F04%2Fsleepy-cat.jpg&f=1&nofb=1">
            </ion-avatar>
          </ion-item>
        </div>
      </div>
      <div class="card-content-container-back">
        <h1>wena conchetu</h1>
      </div>
    </div>
  </div>
</ion-content>

<ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="!seeAll">
  <ion-fab-button class="fab-button" (click)="addCliente(1)">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>